https://github.com/usuario/curso-de-js.git
[submodule "mod3 html-css/exercicios/ex001-cap19-aula01"]
    path = mod3 html-css/exercicios/ex001-cap19-aula01
    url = https://github.com/greickpadua593/curso-de-js.git