@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right,#A67A46,#F2CA99);
}

p{
   text-align: justify;
} 

main{
   background-color: white;
   border-radius:10px;
   box-shadow: 5px 5px 15px #b37b3788; 
   width:600px;
   padding:10px;
   margin:auto;
}
h1{ 
    color: #83511581;
    text-align: center;
    text-shadow: 1px 1px 2px #66451d2c;
}
h2{ 
    color: #F2CA99;
}